# Automatically normalize line endings for all text-based files
# http://git-scm.com/docs/gitattributes#_end_of_line_conversion
* text=auto

# For the following file types, normalize line endings to LF on
# checkin and prevent conversion to CRLF when they are checked out

# Code
.*      text eol=lf
*.html  text eol=lf
*.css   text eol=lf
*.less  text eol=lf
*.styl  text eol=lf
*.scss  text eol=lf
*.sass  text eol=lf
*.sss   text eol=lf
*.js    text eol=lf
*.ts   text eol=lf
*.jsx   text eol=lf
*.tsx   text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.mjs   text eol=lf
*.sh    text eol=lf
*.svg   text eol=lf
*.txt   text eol=lf
*.xml   text eol=lf

# git config
.gitattributes text
.gitignore text
.gitconfig text

# code analysis config
.eslintrc text
.prettierrc text
.env text
.env.example text

# misc config
*.yaml text
*.yml text
.editorconfig text

# build config
*.npmignore text
*.bowerrc text

# Heroku
Procfile text
.slugignore text

# Documentation
*.md text
LICENSE text
AUTHORS text

# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
